@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');

:root{
    --moderate-violet: hsl(263, 55%, 52%);
    --very-dark-grayish-blue: hsl(217, 19%, 35%);
    --verydarkblackish-blue: hsl(219, 29%, 14%);
    --white: hsl(0, 0%, 100%);
    --Lightgray: hsl(0, 0%, 81%);
    --Lightgrayish-blue: hsl(210, 46%, 95%);

}

body{
    font-family: 'Barlow Semi Condensed', sans-serif;
    background-color: var(--Lightgrayish-blue);
    display: block;
    padding-top: 75px;
    margin: 0 auto;
}


/* Teestimonial grid section */
.testimonials-grid{
    width: 65%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "testimonial1  testimonial1 testimonial2 testimonial5"
    "testimonial3 testimonial4 testimonial4 testimonial5";
    grid-gap: 25px;
    border-radius: 10px;
    overflow: visible;
    margin: 0 auto;
}



.card-1{
    border-radius: 10px;
    background: var(--moderate-violet) url(./images/bg-pattern-quotation.svg) no-repeat;
    background-position: right 10px top;
    color: var(--white);
    padding: 25px;
    grid-area: testimonial1;
}



.card-2{
    font-size: 12px;
    background-color: var(--very-dark-grayish-blue);
    padding: 25px;
    color: var(--white);
    border-radius: 10px;
    grid-area: testimonial2;
}

.card-3{
    font-size: 12px;
    background-color: var(--white);
    padding: 25px;
    border-radius: 10px;
    color: var(--very-dark-grayish-blue);
    grid-area: testimonial3;
}

.card-4{
    font-size: 12px;
    padding: 25px;
    color: var(--white);
    background-color:var(--verydarkblackish-blue);
    border-radius: 10px;
    grid-area: testimonial4;
}

.card-5{
    font-size: 12px;
    background-color: var(--white);
    padding: 25px; 
    border-radius: 10px;
    color: var(--very-dark-grayish-blue);
    grid-area: testimonial5;
}

.about{
    display: flex;
    margin: 0;
}

img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.nombre{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
    border: 0;

}

span{
    display: block;
    opacity: 60%;
}


h3{
    font-size: 10px;
    margin: 0px;
}


h4{
    font-size: 15px;
    font-weight: 800;
    margin: 10px 0px;
}


p{
    font-size: 10px;
    font-weight: 300;
}


.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
@media(max-width: 700px){
    .testimonials-grid{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 250px;
    }
}